body {
    background: #FFF;
}

.navbar-inverse {
    background: #EEE;
    border-bottom: 0;
}

.navbar-header {
    float: none;
    padding-top: 65px;
    height: 156px;
    box-sizing: border-box;
    background: url("http://www.bmbgroup.com/Content/images/bgheader.jpg") repeat-x scroll 0 1px #393B4E;
    background-position: bottom;
    padding-left: 10%;
}

.wrapper{
    max-width: 1400px;
}

nav.navbar.navbar-inverse {
    position: relative;
    max-width: 1400px;
}

nav.navbar.navbar-inverse .container-fluid {
    width: 100%;
    margin: 0 auto;
}

.navbar-right{
    float: none !important;
    width: 80%;
    margin: 0 auto;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #FFF;
    background: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    background: #393c4f;
}

.navbar-fixed-top{
    top: 0;
}

.navbar-nav>li {
    margin-right: 25px;
}

.navbar .container-fluid  {
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav>li:last-child {
    float: right;
    margin-right: 0;
}

.nav>li>a {
    padding-right: 0;
    padding-left: 0;
}